# Default ignored files
/shelf/
/.idea/workspace.xml
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### FrontEnd ###
src/main/resources/static/**
node
*npm*
*node*



# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
*.iml


# IntelliJ
out/
*.kotlin_module

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
.idea/**/sonarlint/

# SonarQube Plugin
.idea/**/sonarIssues.xml

# Markdown Navigator plugin
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/

# End of https://www.gitignore.io/api/intellij
#
# # Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.www



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
*.iml
/Lesson8-14-04-2023/.gitignore
/Lesson9-17-04-2023/.gitignore
/Lesson10-18-04-2023/.gitignore
/Lesson11_19_04_2023/.gitignore
/Lesson5-11-04-2023/src/Abc.java
/Lesson11_19_04_2023/src/homework/Address.java
/src/homework/Address.java
/Lesson10-18-04-2023/src/consultation/BankAccount.java
/Lesson7-13-04-2023/src/lambdas/Calculate.java
/Lesson7-13-04-2023/src/consultation/cesaMethod.txt
/Lesson7-13-04-2023/src/consultation/Chackable1.java
/Lesson8-14-04-2023/src/interfaces/Checkable.java
/Lesson8-14-04-2023/src/Checkable.java
/Lesson7-13-04-2023/src/stringbuilder_demo/Demo.java
/startEvningGroup/work/src/EmptyListException.java
/Lesson4-06-04-2023/src/fibonacci/Fibonacci.java
/src/homework/GetAddressTest.java
/input.txt
/startEvningGroup/work/src/InvalidAgeException.java
/startEvningGroup/Lesson-03-04-2023
/Lesson2-04-04-2023/src/EvgeniyMorning/consultation/Main.java
/Lesson2-04-04-2023/src/EvgeniyMorning/Main.java
/Lesson2-04-04-2023/src/evningKirill/Main.java
/Lesson2-04-04-2023/src/Main.java
/Lesson3-05-04-2023/src/Consultation/Main.java
/Lesson3-05-04-2023/src/Main.java
/Lesson4-06-04-2023/src/Consultation/Main.java
/Lesson4-06-04-2023/src/flowcharts/Main.java
/Lesson4-06-04-2023/src/Main.java
/Lesson6-12-04-2023/src/bubblesort/Main.java
/Lesson6-12-04-2023/src/consultation/Main.java
/Lesson6-12-04-2023/src/StringBuilder/Main.java
/Lesson6-12-04-2023/src/Main.java
/Lesson7-13-04-2023/src/consultation/Main.java
/Lesson7-13-04-2023/src/lambdas/Main.java
/Lesson7-13-04-2023/src/test/Main.java
/Lesson7-13-04-2023/src/Main.java
/Lesson8-14-04-2023/src/interfaces/Main.java
/Lesson8-14-04-2023/src/prefend_functional_interfaces/Main.java
/Lesson8-14-04-2023/src/Main.java
/Lesson9-17-04-2023/src/homework/Main.java
/Lesson9-17-04-2023/src/streams/Main.java
/Lesson9-17-04-2023/src/Main.java
/Lesson10-18-04-2023/src/consultation/Main.java
/Lesson10-18-04-2023/src/our_streams/Main.java
/Lesson10-18-04-2023/src/Main.java
/Lesson11_19_04_2023/src/homework/Main.java
/Lesson11_19_04_2023/src/our_streams/Main.java
/Lesson11_19_04_2023/src/Main.java
/src/date_time/Main.java
/src/homework/Main.java
/src/marz_31_03_2023/work/our_static/Main.java
/src/marz_31_03_2023/work/Main.java
/src/marz_31_03_2023/Main.java
/startEvningGroup/src/Evning04_04_2023/Main.java
/startEvningGroup/src/Main.java
/startEvningGroup/work/src/Main.java
/Lesson2-04-04-2023/src/EvgeniyMorning/consultation/MainTest.java
/Lesson3-05-04-2023/src/Consultation/MainTest.java
/Lesson4-06-04-2023/src/Consultation/MainTest.java
/startEvningGroup/src/MainTest.java
/Lesson7-13-04-2023/src/lambdas/MyValue.java
/Lesson7-13-04-2023/src/lambdas/MyValueParam.java
/Lesson9-17-04-2023/src/streams/OurStreams.java
/output.txt
/people.txt
/Lesson6-12-04-2023/src/homework/task3/Person.java
/Lesson8-14-04-2023/src/interfaces/Person.java
/Lesson10-18-04-2023/src/our_streams/Person.java
/Lesson11_19_04_2023/src/homework/Person.java
/Lesson11_19_04_2023/src/our_streams/Person.java
/src/filereader/Person.java
/src/homework/Person.java
/Lesson11_19_04_2023/src/our_streams/PersonComparator.java
/Lesson8-14-04-2023/src/interfaces/PersonCreater.java
/Lesson2-04-04-2023/src/evningKirill/PreRle.java
/Lesson8-14-04-2023/src/Printable.java
/Lesson8-14-04-2023/src/Producable.java
/src/marz_31_03_2023/work/SecondYear.java
/Lesson8-14-04-2023/src/interfaces/SomeTest.java
/Lesson8-14-04-2023/src/StringConcate.java
/Lesson7-13-04-2023/src/lambdas/StringTest.java
/src/marz_31_03_2023/work/our_static/Student.java
/Lesson6-12-04-2023/src/homework/task1.java
/Lesson7-13-04-2023/src/homework/task1.java
/Lesson8-14-04-2023/src/homeworkToMonday/Task2.java
/Lesson6-12-04-2023/src/homework/task2.java
/Lesson7-13-04-2023/src/homework/task2.java
/Lesson6-12-04-2023/src/homework/task3/task3.java
/Lesson7-13-04-2023/src/homework/task3.java
/Lesson6-12-04-2023/src/homework/task4.java
/Lesson8-14-04-2023/src/interfaces/TestMethodReference.java
/Lesson7-13-04-2023/src/lambdas/TestNumbers.java
/text1.txt
/text2.txt
/Lesson9-17-04-2023/src/homework/Transformer.java
/Lesson10-18-04-2023/src/homework/Transformer.java
/Lesson9-17-04-2023/src/homework/TransformerTest.java
/Lesson10-18-04-2023/src/homework/TransformerTest.java
/Lesson8-14-04-2023/src/Transormable.java
/Lesson7-13-04-2023/src/consultation/Transormatable.java
/Lesson2-04-04-2023/src/evningKirill/Utils.java
/startEvningGroup/work/src/Voter.java
/Lesson10-18-04-2023/src/homework/WordsTransformer.java
/Lesson10-18-04-2023/src/homework/WordsTransformerLowerCase.java
/Lesson10-18-04-2023/src/homework/WordsTransformerStars.java
/Lesson10-18-04-2023/src/homework/WordsTransformerUpperCase.java
/Lesson11_19_04_2023/src/our_streams/Food.java
